Django==3.0.6
drf-yasg==1.17.1
mysqlclient==1.4.6
django-cors-headers==3.3.0
django-debug-toolbar==2.2
django-admin-rangefilter==0.5.4
django-extensions==2.2.9
django-rest-auth==0.9.5
djangorestframework==3.11.0
django-cacheops==4.2
django-silk==4.0.0
google-cloud-logging==1.15.0
firebase-admin==4.0.0
google-cloud-profiler==1.0.9
slacker==0.14.0
django-redis==4.11.0
coolsms-python-sdk==2.0.3
inapppy==2.4.4
pusher==2.1.4
Pillow==7.0.0
newrelic==5.8.0.136
whitenoise==5.0.1
gunicorn==20.0.4
django-request-logging==0.7.1
pytest-django==3.8.0
pytest-mock==2.0.0
google-cloud-tasks==1.5.0
googleapis-common-protos==1.51.0